# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET="studynotion"

# MongoDB connection string for connecting to the database
MONGODB_URL="mongodb+srv://manand1be21:JAIfY0HY7OO9E7rG@cluster0.h1yxukj.mongodb.net/StudyNotionDB"

# Hostname of the mail server used for sending emails
MAIL_HOST=smtp.gmail.com

# Username of the email account used for sending emails
MAIL_USER=studynotiondummy2@gmail.com

# Password of the email account used for sending emails
MAIL_PASS=mcjezvxnnrjiurpl